

.thumbnail{
  width: 100%; 
}



.video-title{
  margin-top: 0; 
  font-size: 14px;
  font-weight: 500; 
  line-height: 20px; 
  margin-bottom: 10px; 
}


.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}



.channel-picture{

}

.video-info{

}

.profile-picture{
  width: 36px; 
  border-radius: 50px
}

.thumbnail-row{
  margin-bottom: 8px;
  position: relative; 
}

.video-author, 
.video-stats{
  font-size: 12px; 
  color: rgb(96,96,96);
}

.video-author{
  margin-bottom: 4px; 
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  column-gap: 16px; 
  row-gap: 40px; 
}

.video-time{
  font-family: Roboto, Arial;
  font-size: 12px; 
  font-weight: 500; 
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px; 
  background-color: black;
  color: white; 
  position: absolute; 
  bottom: 8px;
  right: 5px; 
}

.bet-list{
  padding-top: 100px; 
  padding-left: 100px; 
}

.bet-1-description{
  padding-left: 40px; 
  padding-top: 40px; 
}

.BTC-sim{
padding-left: 40px; 
padding-top: 40px; 
}

.BTC-sim-description{ 
  padding-top: 40px; 
}

.ideas-list{
  padding-top: 100px; 
  padding-left: 100px; 
}

.Tesla-Chart-Img{
  padding-top: 40px; 
  padding-left: 40px; 
}

.Tesla-Chart{
  width:1000px; 
}

.tesla-chart-description{
  padding-top: 40px; 
}

.tesla-chart-closing{
  padding-top: 20px; 
}

.btc-luck{
  padding-top: 80px; 
}

.btc-chart-img{
  padding-top: 40px; 
  padding-left:40px;
}

.btc-chart{
  width: 1000px; 
}

.btc-chart-description{
  padding-top: 40px; 
}

.interests-body{
  padding-top: 100px;
  padding-left: 100px; 
}

.memorables-body{
  padding-left: 100px; 
  padding-top: 100px; 
}

.ideas-body{
  padding-left: 100px; 
  padding-top: 100px; 
}

.art-body{
  padding-left: 100px; 
  padding-top: 100px; 
}

.tesla-update{
  padding-top: 80px; 
}

.format-notice{
  padding-bottom: 20px; 
}